*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: #333;
    overflow-x: hidden;
}
.w-h2{
    max-width: 300px;
    margin: 8px auto;
    padding: 0 20px 5px 20px;
    border-bottom: 1px solid #fff;
    font-family:'Racing Sans One', sans-serif;
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    color: #fff;
}
.b-h2{
    max-width: 300px;
    margin: 8px auto;
    padding: 0 20px 5px 20px;
    border-bottom: 1px solid #000;
    font-family:'Racing Sans One', sans-serif;
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    color: #000;
}
h3{
    padding: 20px 0;
    font-family:'Noto Serif TC', serif;
    font-size: 3.5rem;
    font-weight: 100;
    letter-spacing: 8px;
}
span{
    font-family:'Noto Serif TC', serif;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 3px;
}
.p-left{
    margin: 0 auto;
    padding-top: 25px; 
    font-family:'Noto Sans TC', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 3px;
    line-height: 2;
    text-indent: 41.2px;
}
.p-left-f{
    margin: 0 auto;
    font-family:'Noto Sans TC', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 3px;
    line-height: 2;
}
.p-center{
    max-width: 400px;
    margin: 0 auto;
    font-family:'Noto Sans TC', sans-serif;
    font-size: 1rem;
    text-align: center;
    line-height: 2;
    word-spacing: 5px;
}
.white{
    color: #fff;
}
.black{
    color: #000;
}
.noto{
font-family:'Noto Sans TC', sans-serif;
}
.race{
    font-family:'Racing Sans One', sans-serif;
}
.d-flex{
    display: flex;
    align-items: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.slick-prev{
    left: -40px;
}
.slick-next{
    right: -40px;
}
/*-----------------------------------------navbar----------------------------------------------*/
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 2vw;
    top:2vw;
    z-index: 50;
    border: 3px solid transparent;
	border-radius: 5rem;
    background: rgba(255,153,51,.95);
    overflow: hidden;
}
.navList{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: 700px;
    height: 4rem;
    overflow: hidden;
    transition: height 0.65s,width 1s;
}
nav .navList li a{
    display: block;
    margin: 0 25px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    line-height: 4rem;
    color: #000;
    transition: 0.2s;
}
nav .navList li:hover a{
    color: #fff;
}
nav .navList li .active{
    cursor: default;
    color: #fff;
}
.connect{
	cursor: pointer;
}
.menu{
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    outline: none;
    font-size: 1.2rem;
    background: #ff9933;
    color:#000;
    transition: 0.3s;
    cursor: pointer;
}
.menu:hover{
    background: #000000;
    color: #fff;
}
/* ----------------------------------------bg--------------------------------- */
.bg{
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 1;
    transition: 1s;
}
.fullPage{
    overflow: auto;
}
.fullPage::-webkit-scrollbar{
    display: none;
}
/* ----------------------------------------header--------------------------------- */
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0 0 20px 3px rgba(0,0,0,.5);
}
.drop{
    display: block;
    position: absolute;
    width: 250px;
    right: 10px; 
    bottom: -95px;
    filter: drop-shadow(0 15px 5px rgba(0,0,0,.3))
}
/* ----------------------------------------context--------------------------------- */
.context{
    position: relative;
    justify-content: space-around;
    width: 70%;
    margin: 200px auto;
    padding: 70px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,.5);
}
.contextLast{
    margin: 200px auto 100px auto;
}
.orange{
    background: #ff9933 ;
}
.love{
    background: url(images/workBG-1.png) no-repeat center, #efcaca;
    background-size: 60%;
    background-attachment: fixed;
}
.wallpaper{
    background: url(images/workBG-2.png) no-repeat center left, #3d8f9a;
    background-size: 100%;
    background-attachment: fixed;
}
.ukiyo{
    background: url(images/workBG-3.png) no-repeat top right , #dbd6ae;
    background-size: 60%;
    background-attachment: fixed;
}
.avatar{
    background: url(images/workBG-4.png) no-repeat center , #cccccc;
    background-size: 100%;
    background-attachment: fixed;
}
.more{
    background: #333;
    background-size: 100%;
    background-attachment: fixed;
}
.text{
    width: 45%;
    padding: 50px;
    background: rgba(255,255,255,.8);
}
.photo{
    width: 30%;
    margin-left:50px;
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,.2);
}
.photo img{
    width: 100%;
}
.btn{
    display: block;
    width: 140px;
    margin: 50px 0 10px 0;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1.3rem;
    text-align: center;
    color: #000;
    background: #ff9933;
    transition: 0.5s;
}
.btn:hover{
    color: #fff;
    background: #000;
}
/*-----------------------------------------footer----------------------------------------------*/
footer{
    position: fixed;
    bottom: -20px;
    left: 50%;
    z-index: 20;
    transform: translate(-50%,100%);
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    transition: 0.5s;
}
.foot{
    position: relative;
    max-width: 1250px;
    min-height: 450px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 40px;
    border-radius: 50px 50px 0 0;
    background: #333;
    background-size: contain;
    box-shadow: 0 0px 10px 10px rgba(0,0,0,.3);
}
.foot article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 15px auto;
    padding: 0 8%;
}
.info p{
    margin: 25px 0;
    font-size: 1.1rem;
    font-weight: 100;
}
.info i{
    min-width: 2rem;
    min-height: 2rem;
    margin-right: 15px;
    border-radius: 50%;
    text-align: center;
    text-indent: 3px;
    line-height: 2rem;
}
.email div{
    position: relative;
    max-width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.4);
    overflow: hidden;
}
.email div img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.7);
}
.email a{
    display: block;
    max-width: 172px;
    margin: 20px auto;
    padding: 12px 36px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    background: #ff9933;
    color: #000;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.4);
	transition: .5s
}
.email a:hover{
	background: #000;
	color: #fff;
}
.cancel{
    position: absolute;
    top: 15px;
    right: 20px;
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    outline: none;
    font-size: 1.5rem;
    background: #ff9933;
    color:#000;
    transition: 0.3s;
    cursor: pointer;
    transition: 0.5s
}
.cancel:hover{
    background: #000000;
    color: #fff;
    transform: rotate(90deg);
} 
/* -------------------------------------------------------------------------- */
.top{
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    outline: none;
    font-size: 1.2rem;
    font-weight: 700;
    background: #ff9933;
    color:#000;
    transition: 0.3s;
    cursor: pointer;
}
.top:hover{
    background: #000000;
    color: #fff;
}
.down{
    position: fixed;
    left: 50%;
    bottom: 5vw;
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    outline: none;
    font-size: 1.2rem;
    font-weight: 700;
    background: transparent;
    color:#000;
    transition: 0.3s;
    cursor: pointer;
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%, 100%, 20%, 53%, 80% {
      transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
      transform: translate(-50%, 0)
    }
    40%,
    43% {
      transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
      transform: translate(-50%, -30px)
    }
    70% {
      transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
      transform: translate(-50%, -15px)
    }
    90% {
      transform: translate(-50%, -4px)
    }
  }